# IntelliJ IDEA, ignore everything except vcs, run configs, code style, and inspection profiles
/.idea/*

# VSCode, ignore everything
.vscode/

.gradle/
gradle-app.setting
gradle-local.properties
build/
out/
target/
classes/
